/* google font use */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&family=Prompt&family=Source+Serif+Pro&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Source Serif Pro', serif;
}

/* Banner css */
.banner-container {
    display: flex;
    padding: 50px 140px;
    background-color: #161616;
    width: 1300px;
    height: 646px;
    border-radius: 30px;
}

.greatest-show {
    color: aliceblue;
    width: 530px;
    height: 420px;

}

.watch-live {
    width: 187px;
    height: 56px;
    color: white;
    background-color: #DD0000;
    font-size: large
}

.banner-image {
    width: 581px;
    height: 613px;
    padding-top: 30px;
    margin-left: 24px;
}

/* transfer section */
.blog {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.blog .transfer a {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.transfer {
    width: 30%;
    margin-top: 10px;
    grid-row-start: 3;
    grid-row-end: 1;
    background-color: rgb(248, 248, 184);
}

a {
    text-decoration: none;
    width: 30%;
}

.match {
    margin-left: 10px;
    grid-row-start: 3;
    grid-row-end: 1;
}